@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }
  
  .wave-dot {
    animation: wave 1.2s infinite;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease forwards;
  }

  .scale-down {
    transform: scale(0.9); /* Adjust this value to control the scale */
    transition: transform 0.3s ease;
  }
  
  .hover\\:scale-down:hover {
    transform: scale(1);
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  